/* Global Styles */
.green-view {
  background-color: rgba(150, 199, 193, 0.2);
}

.brown-view {
  background-color: rgba(222, 217, 196, 0.4);
}

.purple-view {
  background-color: rgba(97, 102, 179, 0.2);
}

.full-screen {
  min-height: 100vh;
}

* {
  font-family: 'Noto Sans';
  font-size: 16px;
}

.app {
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
}

.no-select {
  -webkit-user-select: none;
}

.drag {
  -webkit-app-region: drag;
}

.dropdown {
  -webkit-appearance: none;
}

/* Titlebar Styles */
.title-bar {
  width: 100%;
  margin: 0;
  position: relative;
  top: 0;
}

.standard {
  height: 38px;
}

.standard .title {
  padding: 7px;
  margin: 0;
  height: 35px;
}

.menu {
  height: 38px;
}

/* Spacing Styles */
.spaced {
  margin: 10px 20px;
}

.flat-spaced {
  margin: 10px;
}

.small-spaced {
  margin: 10px 5px;
}

.spaced-small {
  margin: 5px 20px;
}

.small-spaced-none {
  margin: 0 10px !important;
}

/* Flex Format */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

/* Color Styles */
.white {
  background: #fff;
}

.green {
  background: rgba(150, 199, 193, 1);
}

.purple {
  background-color: rgba(97, 102, 179, 0.9);
}

.brown {
  background: #D0CAB2;
}

.transparent {
  background: transparent;
  border: none;
}

.white-color {
  color: #fff;
}

.green-color {
  color: rgba(150, 199, 193, 1);
}

.brown-color {
  color: #D0CAB2;
}

.purple-color {
  color: rgba(97, 102, 179, 0.9);
}

.green-border {
  border-color: rgba(150, 199, 193, 1) !important;
}

.brown-border {
  border-color: #D0CAB2 !important;
}

.purple-border {
  border-color: rgba(97, 102, 179, 0.9) !important;
}

.no-border {
  border: none; 
}

/* Heading Formatting */
.heading {
  font-weight:400;
  margin: 5px 0;
}

.heading.small {
  font-size: 26px;
}

/* Element Formatting */
.container {
  margin: 20px;
}

.box {
  padding: 10px 15px;
  margin: 10px;
  width: 220px;
  position: relative;
}

/* Text Box Formatting */
.text-box {
  padding: 10px 10px;
  width: 400px;
  height: 20px;
  margin: 10px;
  border: none;
  position: relative;
}

.inner-text-box {
  margin: 0;
  width: 60%;
  height: 20px;
  padding: 0;
}

.text-box .label {
  top: 4px;
  right: 5px;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

.preview {
  height: 260px;
}

.label {
  padding: 5px 10px;
}

.label.dropdown {
  padding: 5px 15px;
}

/* Button Formatting */
.button {
  padding: 0 15px;
  height: 40px;
  border: solid 1px;
}

/* Rounding Styles */
.round-5px {
  border-radius: 5px;
}

.round-10px {
  border-radius: 10px;
}

.round-15px {
  border-radius: 15px;
}

/* Alignment Classes */
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

/* Push Element */
.absolute {
  position: absolute;
}

.absolute.push-left {
  left: 10px;
}

.absolute.push-right {
  right: 10px;
}

.absolute.push-up {
  top: 10px;
}

.absolute.push-up-small {
  top: 4px;
}