/* Global Styles */
.full-screen {
  min-height: 100vh;
}

* {
  font-family: 'Noto Sans';
  font-size: 16px;
  transition-duration: 0.6s;
  transition-delay: 0.1s;
}

.app {
  text-align: center;
  margin: 0;
}

a {
  text-decoration: none;
}

.no-select {
  -webkit-user-select: none;
}

.drag {
  -webkit-app-region: drag;
}

.remove-webkit {
  -webkit-appearance: none;
}

.solid {
  border: solid 1px;
}

button {
  cursor: pointer;
}


/* Titlebar Styles */
.title-bar {
  width: 100%;
  margin: 0;
  position: relative;
  top: 0;
  height: 38px;
}

.title-bar .title {
  padding: 7px;
  margin: 0;
  height: 35px;
}

.menu {
  height: 60px;
}

.capitalize {
  text-transform: capitalize;
}


/* Spacing Styles */
/* .prefix-spaced-suffix: {margin: prefix suffix;} */

.spaced {
  margin: 10px 20px;
}

.flat-spaced {
  margin: 10px;
}

.small-spaced {
  margin: 10px 5px;
}

.spaced-small {
  margin: 5px 20px;
}

.small-spaced-none {
  margin: 0 10px !important;
}

.none-spaced-none {
  margin: 0 !important;
}


/* Flex Format */
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.wrap {
  flex-wrap: wrap;
}

.fill-space {
  flex-grow: 1;
}


/* Color Styles */
/* Light */
.white {
  background: #fff;
}

.white-color {
  color: #fff;
}

.white-border {
  border-color: #fff;
}

/* Dark */
.dark.white {
  background: #000;
}

.dark.white-color {
  color: #000 !important;
}

.dark.white-border {
  border-color: #000;
}

/* Green */
.green {
  background: rgba(150, 199, 193, 1);
}

.green-color {
  color: rgba(150, 199, 193, 1);
}

.button.green-color:hover, .button.green-color:focus {
  color: #fff;
}

.button.dark.green-color:hover, .button.dark.green-color:focus {
  color: rgba(0, 0, 0, 0.8);
}

.green-border {
  border-color: rgba(150, 199, 193, 1) !important;
}

.green-view {
  background-color: rgba(150, 199, 193, 0.2);
}

.button.green-view:hover, .button.green-view:focus {
  background-color: rgba(150, 199, 193, 1);
}

/* Purple */
.purple {
  background-color: rgba(97, 102, 179, 0.8);
}

.purple-color {
  color: rgba(97, 102, 179, 0.8);
}

.purple-border {
  border-color: rgba(97, 102, 179, 0.8) !important;
}

.purple-view {
  background-color: rgba(97, 102, 179, 0.2);
}

/* Brown */
.brown {
  background: rgba(208, 202, 178, 1);
}

.brown-color {
  color: rgba(208, 202, 178, 1);
}

.brown-border {
  border-color: rgba(208, 202, 178, 1) !important;
}

.brown-view {
  background-color: rgba(208, 202, 178, 0.2);
}

/* Transparent */
.transparent {
  background: transparent;
  border: none;
}

.no-border {
  border: none !important;
}

/* Heading Formatting */
.heading {
  font-weight:400;
  margin: 5px 0;
}

.heading.small {
  font-size: 26px;
}

/* Element Formatting */
.container {
  margin: 20px;
}

.box {
  padding: 10px 15px;
  margin: 10px;
  width: 250px;
  position: relative;
}

/* Text Box Formatting */
.text-box {
  padding: 10px 10px;
  width: 400px;
  height: 20px;
  margin: 10px;
  border: none;
  position: relative;
}

.inner-text-box {
  margin: 0;
  width: 60%;
  height: 20px;
  padding: 0;
}

.text-box .label {
  top: 4px;
  right: 5px;
}

.text-box .dropdown {
  top: 5px;
  right: 5px;
}

input:focus, select:focus, textarea:focus, .react-toggle:focus {
  outline: none !important;
}

.react-toggle-track-x, .react-toggle-track-check {
  top: 10px !important;
}

.react-toggle-track-x {
  right: 12px !important;
}

.react-toggle-track-check {
  left: 7px !important;
}

.react-toggle-track {
  background: #000;
}

.preview {
  height: 320px;
}

.label {
  padding: 5px 10px;
}

.label.dropdown {
  padding: 3px 5px !important;
}

/* Button Styles */
.button {
  padding: 0 15px;
  height: 40px;
  min-width: 40px;
  border: solid 1px;
}

.menu .button, .menu .button * {
  transition-delay: 0s !important;
}

.no-animation {
  transition-duration: 0s !important;
  transition-delay: 0s !important;
}

.menu .button {
  transition-duration: 0.3s !important;
}

.menu .button * {
  transition-duration: 0s !important;
}

.button.medium {
  padding: 0 12px;
}

.button.small {
  padding: 0 6px;
}

.button.short {
  height: 30px;
}

.button.dropdown {
  min-width: 200px;
}

/* Sidebar Styles */
.sidebar {
  width: 300px;
  resize: horizontal;
}

.sidebar, .sidebar * {
  opacity: 1;
}

.hide {
  width: 0;
}

.hide * {
  opacity: 0;
}

/* Rounding Styles */
.round-5px {
  border-radius: 5px;
}

.round-10px {
  border-radius: 10px;
}

.round-15px {
  border-radius: 15px;
}

/* Alignment Classes */
.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

/* Push Element */
.absolute {
  position: absolute;
}

.absolute.push-left {
  left: 10px;
}

.absolute.push-right {
  right: 10px;
}

.absolute.push-up {
  top: 10px;
}

.absolute.push-up-medium {
  top: 7px;
}

.absolute.push-up-small {
  top: 4px;
}